body{
    background:#000;
    font-family:Helvetica, Arial, sans-serif;
}

.loadBox{
    position:absolute;
    width:600px;
    height:100px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    user-select:none;
    cursor:default;
// background:red;
    &::before{
        content: '';
        opacity: 1;
        position: absolute;
        bottom: 25px;
        left: 0;
        width: 100%;
        height: 5px;
        background:transparent;
        // animation: glow 2s linear infinite;

        // box-shadow:
        // 0 0 60px 15px #35c4f0c6,  /* inner */
        // 0 0 100px 10px #35c4f077, /* middle */
        // 0 0 140px 5px #35c4f037; /* outer */
    }
    @keyframes glow {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    div {
        position:absolute;
        width:20px;
        height:36px;
        opacity:0;
        font-size: 1.5rem;
        animation:move 1.5s linear infinite;
        transform:rotate(-180deg);
        color:#35C4F0;
        animation-delay: calc(0.2s*var(--nth));


        @keyframes move {
            0%{
                left: 0;
                opacity: 0;
            }

            35%{
                left: 41%;
                opacity: 1;
                transform:rotate(0deg);
            }

            65%{
                left: 59%;
                transform:rotate(0deg);
            }

            100%{
                left: 100%;
                opacity: 0;
                transform:rotate(180deg);
            }
        }
      }
}

